<!-- Main Content -->
<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Add/ View Notes

        </h2>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-xl-12">
        <div class="card chat-app">
          <div id="plist" class="people-list">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search...">
              <span class="input-group-addon">
                <i class="zmdi zmdi-search"></i>
              </span>
            </div>



            <ul class="chat-list list-unstyled m-b-0">
              <li class="clearfix" style="overflow: auto" *ngFor="let note of notes| searchNotes: query ;let i=index ">

                <div class="about ">
                  <div class="name one-line">{{note.title}}</div>
                  <div class="status three-line-only"> {{note.description}} </div>
                 
                </div>
				 <a href="javascript:void(); ">
                    <i class="zmdi zmdi-delete pull-right " (click)="deleteNotes(note._id) ">&nbsp;</i>
                    <i class="zmdi zmdi-edit pull-right " (click)="editNote(note) ">&nbsp;</i>

                  </a>
              </li>


            </ul>



          </div>
          <div class="chat ">


            <div class="chat-message clearfix ">
              <div class="input-group p-t-15 ">
                <input type="text " class="form-control " [(ngModel)]="title " placeholder="Enter title here... ">

              </div>
              <div class="input-group p-t-15 ">
                <input type="text " class="form-control " [(ngModel)]="description " placeholder="Enter description here... ">
                <span class="input-group-addon ">
                  <i class="zmdi zmdi-mail-send " (click)="saveNotes() "></i>
                </span>
              </div>

              <a href="javascript:void(0); " *ngIf="!isEdit " class="btn btn-raised btn-info btn-round " (click)="saveNotes() ">
                <i class="zmdi zmdi-file-text "></i> Save Note
              </a>

              <a href="javascript:void(0); " *ngIf="isEdit " class="btn btn-raised btn-warning btn-round " (click)="editNotes() ">
                <i class="zmdi zmdi-file-text "> </i> Update Note
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>













<!-- Time Off stat -->
<div class="modal fade " id="timeoff " tabindex="-1 " role="dialog ">
  <div class="modal-dialog modal-md " role="document ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h4 class="title " id="largeModalLabel ">Add Time Off</h4>
      </div>
      <div class="modal-body ">
        <div class="body ">
          <div class="row clearfix ">
            <div class="col-sm-12 ">
              Start Date
              <div class="input-group ">
                <span class="input-group-addon ">
                  <i class="zmdi zmdi-calendar "></i>
                </span>
                <input type="text " class="form-control datetimepicker " placeholder="Please choose date & time... ">
              </div>
            </div>

            <div class="col-sm-12 ">
              End Date
              <div class="input-group ">
                <span class="input-group-addon ">
                  <i class="zmdi zmdi-calendar "></i>
                </span>
                <input type="text " class="form-control datetimepicker " placeholder="Please choose date & time... ">
              </div>
            </div>
            <div class="col-sm-12 ">

              <div class="form-group ">
                <div class="form-line ">
                  <textarea rows="2 " class="form-control no-resize " placeholder="Please type Description... "></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix ">

          </div>

        </div>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-success waves-effect ">Save</button>
        <button type="button " class="btn btn-danger waves-effect " data-dismiss="modal ">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!-- Time Off End -->
