<!-- Main Content -->
<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Add/ View Documents

        </h2>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">





        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#add-documents">Add documents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#view-documents">View documents</a>
            </li>

          </ul>
        </div>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="add-documents">

            <div class="card">
              <div class="header">
                <h2>
                  <strong>Upload</strong> Documents </h2>
                <small>You can Upload your health related documents here.</small>

              </div>
              <div class="body">
                <div class="row clearfix">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="title" placeholder="Documents Title">
                    </div>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-control show-tick" [(ngModel)]="documentType">
                      <option value="">Documents Type</option>
                      <option value="10">Health</option>
                      <option value="20">Helth2</option>
                    </select>

                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                    </div>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-control show-tick" [(ngModel)]="documentStatus">
                      <option value="">Status</option>
                      <option value="10">Active</option>
                      <option value="20">Inactive</option>
                    </select>

                  </div>
                </div>





                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                      <div class="dz-message">
                        <div class="drag-icon-cph">
                          <i class="material-icons">touch_app</i>
                        </div>
                        <h3>Drop files here or click to upload.</h3>
                        <em>(This is just a demo dropzone. Selected files are
                          <strong>not</strong> actually uploaded.)</em>
                      </div>
                      <div class="fallback">
                        <input name="file" type="file" multiple />
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea rows="4" class="form-control no-resize" [(ngModel)]="description" placeholder="Description"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-round" (click)="saveDocument()">Save</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="view-documents">


            <!-- Exportable Table -->
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <h2>
                      <strong>View </strong> Documents</h2>
                    <small>You can View/ delete your health related documents here.</small>
                  </div>
                  <div class="body">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                      <thead>
                        <tr>

                          <th>Title</th>
                          <th>Type</th>
                          <th>Subject</th>
                          <th>Description</th>
                          <th>Date Added</th>
                          <th>Status</th>
                          <th>Preview</th>
                          <th>Private</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tfoot>

                      </tfoot>
                      <tbody>

                        <tr *ngFor="let document of documents">

                          <td>{{document.title}}</td>
                          <td>{{document.type}}</td>
                          <td>{{document.subject}}</td>
                          <td>
                            <span class="text-info">{{document.description}}</span>
                          </td>
                          <td>{{document.title}}</td>
                          <td>{{document.status}}</td>
                          <td>
                            <a href="">
                              <span class="badge badge-success">View </span>
                            </a>
                          </td>
                          <td>
                            <input type="checkbox" name="p" value="">
                          </td>
                          <td>
                            <a href="javascript:void();">
                              <span class="badge badge-danger" (click)="deleteDoc(document._id)">Delete</span>
                            </a>
                          </td>
                        </tr>





                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- #END# Exportable Table -->
          </div>


        </div>



      </div>
    </div>
  </div>
</section>
