<!-- Main Content -->
<!-- Page Loader -->
<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Add Schedule
          <small class="text-muted">Welcome to Healthcare</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Scheduler</a>
          </li>
          <li class="breadcrumb-item active">Add Event</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Scheduler</strong> Information
              <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="zmdi zmdi-more"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                  <li>
                    <a href="javascript:void(0);">Edit</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Delete</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Report</a>
                  </li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close">
                  <i class="zmdi zmdi-close"></i>
                </a>
              </li>
            </ul>
          </div>
          <form [formGroup]="doctorSchedule">
            <div class="body">

              <div class="row clearfix">


                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input type="text" class="form-control datetimepicker" placeholder="Please choose date of event." bsDatepicker formControlName="eventDate"
                      (bsValueChange)="onDateValueChange($event)" />
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group">
                    <timepicker formControlName="eventTime" [(ngModel)]="mytime"></timepicker>
                  </div>
                </div>


                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..." formControlName="description"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="submit" (click)="addSchedule()" class="btn btn-primary btn-round">
                    Submit
                  </button>
                  <button type="submit" class="btn btn-default btn-round btn-simple">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
