<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="page-loader-wrapper" *ngIf="loading">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="loading"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<section class="content profile-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Patient Profile
          <small class="text-muted">Welcome Patient Name</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Patient</a>
          </li>
          <li class="breadcrumb-item active">Patient Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card member-card">
          <div class="header l-cyan">
            <h4 class="m-t-10">Mr. {{firstName}} {{middleName}} {{lastName}}</h4>
          </div>
          <div class="member-img">
            <a href="javascript:void();" style="cursor:pointer">
              <img *ngIf="!profilePicPath" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaio77_lSjjRsEQNoeSphgSURXg6Tde1rgJi1frZR2cAyHGoPq"
                class="rounded-circle" />

              <img *ngIf="profilePicPath" src="{{profilePicPath}}" class="rounded-circle" alt="profile-image">
            </a>
          </div>
          <div class="body">
            <div class="col-12">
              <!--<ul class="social-links list-unstyled">
                              <li>Gynaecologist</li>
                          </ul>-->
              <p class="text-muted">Last Visit : 26-1-2019</p>

            </div>
            <hr>
            <!--<div class="row">
                          <div class="col-4">
                              <h5>852</h5>
                              <small>Following</small>
                          </div>
                          <div class="col-4">
                              <h5>13k</h5>
                              <small>Followers</small>
                          </div>
                          <div class="col-4">
                              <h5>234</h5>
                              <small>Post</small>
                          </div>                            
                      </div>-->
          </div>
        </div>
        <div class="card">


          <div class="tab-pane body active" id="about">

            <small class="text-muted">First Name: </small>
            <p>Mr. {{firstName}} </p>
            <hr>
            <small class="text-muted">Middle Name: </small>
            <p>{{middleName}}</p>
            <hr>
            <small class="text-muted">Last Name: </small>
            <p>{{lastName}}</p>
            <hr>
            <small class="text-muted">Email address: </small>
            <p>{{email}}</p>
            <hr>
            <small class="text-muted">Address: </small>
            <p>{{address}}.</p>
            <hr>
            <small class="text-muted">Phone: </small>
            <p>+ {{mobileNumber}}</p>



          </div>



        </div>
      </div>
      <div class="col-lg-8 col-md-12" style="display:block">

        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#appointments">Appointments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#invoice">invoice</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#view-documents">View Documents</a>
            </li> -->


          </ul>
        </div>

        <div class="tab-content">


          <div role="tabpanel" class="tab-pane" id="view-documents">


            <!-- Exportable Table -->
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <h2>
                      <strong>View </strong> Documents</h2>
                    <small>You can View/ delete your health related documents here.</small>
                  </div>
                  <div class="body">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                      <thead>
                        <tr>

                          <th>Title</th>
                          <th>Type</th>
                          <th>Description</th>
                          <th>Date Added</th>
                          <th>Status</th>
                          <th>Preview</th>
                          <th>Private</th>


                        </tr>
                      </thead>
                      <tfoot>

                      </tfoot>
                      <tbody>

                        <tr *ngFor="let document of documents">

                          <td>{{document.title}}</td>
                          <td>{{document.docType}}</td>
                          <td>
                            <span class="text-info">{{document.description}}</span>
                          </td>
                          <td>{{document.created_on | date}}</td>
                          <td>{{document.docStatus}}</td>
                          <td>
                            <a href="{{document.url}}" target="_blank">
                              <span class="badge badge-success">View </span>
                            </a>
                          </td>
                          <td>
                            <input type="checkbox" name="p" value="">
                          </td>

                        </tr>





                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- #END# Exportable Table -->
          </div>
          <div role="tabpanel" class="tab-pane active" id="appointments">
            <div class="card" *ngFor="let app of appointmentList">

              <div class="body">
                <div class="row clearfix">
                  <div class="col-md-12 col-lg-12">



                    <div class="property-content">
                      <div class="detail">

                        <h4 class="m-t-0 m-b-0"> Appointment on {{app.appointmentForDate |date}} at {{app.appointmentForTime}}</h4>

                        <p class="text-muted m-b-0 m-t-5">
                          <b>Note:</b> {{app.patientNotes}}</p>
                        <p>
                          <b>Payment Status:</b>
                          <span class="badge bg-orange">Pending</span>
                          <!-- <span class="badge bg-success">Success</span> -->
                        </p>

                        <p class="m-t-10">
                          <a data-toggle="modal" data-target="#add-prescription" (click)="thisAppointment(app._id)" class="btn btn btn-primary btn-simple waves-effect btn-sm">Add Prescription</a>
                          <a data-toggle="modal" data-target="#view-prescription" (click)="viewPrescription(app._id)" class="btn btn btn-primary btn-simple waves-effect btn-sm">View Prescription</a>
                          <a data-toggle="modal" data-target="#add-invoice" (click)="thisAppointment(app._id)" class="btn btn btn-primary btn-simple waves-effect btn-sm">Add Invoice</a>
                          <a data-toggle="modal" data-target="#view-invoice" (click)="viewInvoice(app._id)" class="btn btn btn-primary btn-simple waves-effect btn-sm">View Invoice</a>
                          <a routerLink="/doctor/chat" class="btn btn btn-primary btn-simple waves-effect btn-sm">Chat</a>
                        </p>
                      </div>

                    </div>



                  </div>
                </div>
              </div>

            </div>
          </div>

          <div role="tabpanel" class="tab-pane active" id="invoice">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Appointment ID</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let app of appointmentList">
                        <td>{{app._id}}</td>
                        <td>{{app.appointmentForDate | date}}</td>
                        <td>
                          <span class="badge badge-default">Pending</span>
                        </td>
                        <td>
                          <span class="badge badge-default" (click)="viewInvoice(app._id)">View</span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>







    </div>
  </div>
</section>

<!-- Model Start-->
<!-- add prescription Start-->
<div class="modal fade" id="add-prescription" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="largeModalLabel">Add Prescription</h4>
      </div>
      <div class="modal-body">

        <div class="body">
          <div class="row clearfix" *ngFor="let prescription of prescriptionArray">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="prescription.prescriptionTitle" class="form-control" placeholder="Prescription Title">
              </div>
            </div>
            <div class="col-sm-6">
              <select class="form-control show-tick" [(ngModel)]="prescription.medicationType">
                <option value="">Medication Type</option>
                <option value="Tablet">Tablet</option>
                <option value="Syrup">Syrup</option>
                <option value="Lab">Lab</option>
                <option value="Therapy">Therapy</option>
                <option value="Ointment">Ointment</option>
                <option value="Other">Other</option>

              </select>


            </div>
            <div class="col-sm-6">
              <select class="form-control show-tick" [(ngModel)]="prescription.qnty">
                <option value="">Qty</option>
                <option value="UOM">UOM</option>
                <option value="Ml">Ml</option>
                <option value="NA">NA</option>

                <option value="Other">Other</option>

              </select>


            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="prescription.uom" class="form-control" placeholder="UOM">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control no-resize" [(ngModel)]="prescription.prescriptionDescription" placeholder="Prescription Description">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <button type="button" (click)="addPrescriptionToArray()" class="btn btn-default btn-round waves-effect">Add More</button>
              </div>
            </div>


          </div>

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group m-t-5">
                <textarea rows="3" class="form-control no-resize" [(ngModel)]="prescription.
                
                pharmacyDetail" placeholder="Pharmacy Detail"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group m-t-5">
                <textarea rows="3" class="form-control no-resize" [(ngModel)]="prescription.prescriptionNote" placeholder="Overall note"></textarea>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="addPrescription()" class="btn btn-default btn-round waves-effect">Add Prescription</button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!-- add-prescription END -->

<!-- view-prescription Start -->
<div class="modal fade" id="view-prescription" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="largeModalLabel">Prescription</h4>
      </div>
      <div class="modal-body">



        <div class="body">


          <div class="row" *ngFor="let precri of prescriptionDetails.presc">

            <div class="col-md-12">
              <h5>{{precri.prescriptionTitle}} </h5>
              <b> Medication type :</b> {{precri.medicationType}}
              <b> UOM :</b> {{precri.uom}}
              <b> Prescription Description :</b> {{precri.prescriptionDescription}}


            </div>
          </div>
          <hr>

          <hr>

          <!--  -->
          <div class="row">
            <div class="col-md-12">
              <h5>Note</h5>
              <p>{{prescriptionDetails.prescriptionNote}}</p>
            </div>
            <div class="col-md-12">
              <h5>Pharmacy Detail</h5>
              <p>{{prescriptionDetails.pharmacyDetail}}</p>
            </div>


          </div>
          <hr>

        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default btn-round waves-effect">EDIT</button> -->
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!-- view-prescription End -->


<!-- add-invoice Start -->
<div class="modal fade" id="add-invoice" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="largeModalLabel">Add Invoice</h4>
      </div>
      <div class="modal-body">

        <div class="body">
          <div class="row clearfix">
            <div class="col-sm-10">Invoice # AX0258</div>
          </div>
          <div *ngFor="let billItem of billItems">
            <div class="row clearfix">

              <div class="col-sm-10">
                <div class="form-group m-t-5">
                  <input type="text" [(ngModel)]="billItem.description" class="form-control" placeholder="Description">
                </div>
              </div>



            </div>


            <div class="row clearfix">
              <div class="col-sm-10">
                <div class="form-group m-t-5">
                  <input type="number" [(ngModel)]="billItem.cost" class="form-control" placeholder="Charges">
                </div>
              </div>
              <div class="col-sm-2">
                <button (click)="addBillItem()" type="button" class="btn btn-round btn-primary waves-effect">Add More</button>
              </div>

            </div>
          </div>
          <div class="row clearfix" style="display:none">
            <div class="col-sm-5">
              <div class="form-group m-t-5">
                <input type="text" class="form-control" placeholder="Insurance paid">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group m-t-5">
                <input type="text" class="form-control" placeholder="Patient paid">
              </div>
            </div>

          </div>

          <div class="row clearfix">
            <div class="col-sm-5">
              <div class="form-group m-t-5">
                Invoice Due Date:
                <input type="text" [(ngModel)]="invoiceDueDate" bsDatepicker class="form-control" placeholder="Due Date">
              </div>
            </div>
          </div>
          <div class="row clearfix">


            <div class="col-sm-5">
              <div class="form-group m-t-5">
                <input type="number" class="form-control" [(ngModel)]="invoiceDiscount" placeholder="Discount in %">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group m-t-5">
                <input type="number" class="form-control" [(ngModel)]="invoiceTax" placeholder="Tax in %">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group m-t-5">
                <textarea rows="2" class="form-control no-resize" [(ngModel)]="invoiceNotes" placeholder="Invoice Note"></textarea>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="submitInvoice()" class="btn btn-default btn-round waves-effect">Submit </button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!-- add-invoice end -->



<!-- View-invoice Start -->
<div class="modal fade" id="view-invoice" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="largeModalLabel">View Invoice</h4>
      </div>
      <div class="modal-body">



        <div class="pt20">
          <div class="row">
            <div class="col-sm-2">Cost : ${{getInvoiceCost(invoiceDetail)}}</div>
            <div class="col-sm-3"> Date : {{invoiceDetail.dueDate | date}}</div>
            <div class="col-sm-2">
              <span class="badge bg-orange">{{invoiceDetail.status}}</span>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-sm-6 text-right">
              <p class="m-b-0">
                <strong>Order Date: </strong> {{invoiceDetail.dueDate | date}}</p>
              <p class="m-b-0">
                <strong>Order Status: </strong>
                <span class="badge bg-orange">{{invoiceDetail.status}}</span>
              </p>
              <p>
            </div>
          </div>
          <div class="mt-40"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Description</th>

                      <th>Cost</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let billItem of invoiceDetail.billItems;let i=index;">
                      <td>{{(i+1)}}</td>
                      <td> {{billItem.description}}
                      </td>
                      <td>${{billItem.cost}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <h5>Note</h5>
              <p>{{invoiceDetail.notes}}</p>
            </div>

            <div class="col-md-6 text-right">
              <p>
                <b>Sub-total:</b> ${{getInvoiceSubTotal(invoiceDetail)}}</p>
              <p>Discount: {{invoiceDetail.discount}}%</p>
              <p>VAT: {{invoiceDetail.tax}}%</p>
            </div>
          </div>
          <hr>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-round waves-effect">Submit </button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<!-- View-invoice end -->

<!--2020 end-->
