<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <p></p>
      <script>
        document.write(new Date().getFullYear());
      </script>
      <span>all rights reserved.</span>
    </div>
  </div>
</footer>
