<!-- Page Loader -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="page-loader-wrapper" *ngIf="loading">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Healthcare" />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Dashboard
          <small class="text-muted">Welcome to Healthcare</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Healthcare</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>All</strong>Doctors</h2>
          </div>
          <div class="body">
            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Doctor name</th>
                  <th>Created On</th>

                  <th>Adress</th>
                  <th>designation</th>
                  <th>email</th>

                  <th>Status</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let doctor of alldoctors; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <img src="assets/images/xs/avatar.jpg" class="rounded-circle width30 m-r-15" alt="profile-image" />
                    <span style="cursor:pointer">{{ doctor.firstName }} {{ doctor.lastName }}</span>
                  </td>

                  <td>{{ doctor.created_on | date }} </td>

                  <td>{{ doctor.address }} </td>

                  <td>{{ doctor.designation }} </td>
                  <td>{{ doctor.email }} </td>


                  <td>
                    <div class="">
                      <select [(ngModel)]="appStatus" class=" show-tick">
                        <option value="">-- Select --</option>
                        <option value="Check In">Verified</option>
                        <option value="In Process">Non verified</option>
                        <option value="Check Out">Check Out</option>
                      </select>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Exportable Table -->
  </div>
</section>
